/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
  font-family: Arial;
 }
 .product_container {
    position:relative;
    width: 900px;
    margin: 0 auto;
    margin-top: 70px;
 }

 .product_details_container {
   text-align: left;
 }

.product_details_container .product_name { 
  font-size: 24px;
  color: #FF8C00;
}

.product_details_container .product_price {
  margin-top: 20px;
  font-size: 22px;
}
.product_details_container .quantity_text {
  font-size: 12px;
  margin-top: 29px;
  font-weight: bold;
}

.product_details_container .product_zinc_policy {
  margin-top: 20px;
  font-size: 13px;
  width: 439px;
  padding: 4px;
  float: right;
  border: 1px solid red;
  margin-bottom: 17px;
}

.product_details_container #quantity_input {
  width: 45px;
  height: 40px;
  font-size: 19px;
  text-align: center;
}

#add_to_cart {
  background: red;
  padding: 19px;
  margin-left: 15px;
  color: #fff;
  font-size: 15px;
}

.product_details_container .product_description_title, .product_details_container .product_description {
  margin-top: 20px;
}

img#product_image {
  width:450px;
  float: left;
  margin-top: 10px;
}
